.Pokedex__background {
  position: absolute;
  background: url("/static/img/pokedex.png") no-repeat;
  height: 600px;
}
.Pokedex__box-detail {
  left: 30px;
  top: 154px;
  width: 330px;
  height: 335px;
}
.Pokedex__box-list {
  right: -135px;
  top: 160px;
  width: 299px;
  height: 373px;
  overflow: scroll;
}
.Pokedex__box-item {
  padding: 25px 0px;
  border-bottom: 1px solid #333;
  text-align: center;
}
